mixin modal()
	.modal-layer
		.modal-filter
		.modal-wrap
			//success message
			.modal(data-modal="truemessage")
				.modal-content.modal-content--true
					+icon("interface","icon")
					.modal-text-true Ваше сообщение отправленно
